<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Kore REST</h1>
          <p>This is an example Python Flask application call by a Kore AI virtual assistant</p>
        <p>See <a href="https://github.com/dgwartney/kore-rest/blob/master/README.md">
                https://github.com/dgwartney/kore-rest/blob/master/README.md</a>
            for instructions on how to call within your virtual assistant.</p>
      <br>
    </div>
  </body>
</html>